body {
    background-color: rgb(240, 219, 221);
}

#thalia {
    color:rgba(255, 0, 21, 0.787);
    font-size:100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    text-shadow:5px 10px rgb(95, 207, 95); 
    text-align:center; 
}

#poem {
    width: 50% ;
    display: block;
    margin: 0 auto;
}

#paraHead {
    text-align:center;
    color:rgba(191, 20, 20, 0.902); 
    font-family: serif, sans-serif; 
}
#para1 {
    text-align:center;
    color:blueviolet; 
    font-family: serif, sans-serif;
}
#para2 {
    text-align:center;
    color: red; 
    font-family: serif, sans-serif;
}

#para3 {
    text-align:center;
    color: olive; 
    font-family: serif, sans-serif;
}
