body {
    background-color: rgb(240, 219, 221);
}

#thalia {
    color:rgba(255, 0, 21, 0.787);
    font-size:100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    text-shadow:5px 10px rgb(95, 207, 95); 
    text-align:center; 
}

#poem {
    width: 100px;
    display: block;
    margin: 0 auto;
}


