body {
    background-color:   rgb(59, 71, 59); 
    /* background: linear-gradient(to right, rgb(1, 10, 14), rgb(59, 71, 59), rgb(242, 126, 126)); */
    color:antiquewhite; 
}

#thalia {
    color:rgba(255, 0, 21, 0.787);
    font-size:100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    text-shadow:5px 10px rgb(95, 207, 95); 
    text-align:center; 
}

#poemImage {
    width: 50% ;
    display: block;
    margin: 0 auto;
}

#paraHead {
    text-align:center;
    color:rgba(219, 109, 109, 0.902); 
    font-family: serif, sans-serif; 
    font-weight:900; 
    font-size:170%;
}
#para1 {
    text-align:center;
    color:rgb(218, 223, 250); 
    font-family: serif, sans-serif;
}
#para2 {
    text-align:center;
    color: rgb(39, 217, 131); 
    font-family: serif, sans-serif;
}

#para3 {
    text-align:center;
    color: rgb(230, 230, 65); 
    font-family: serif, sans-serif;
}

#button {
    width: 8%;
    border:10px solid #38ce9c;
    border-radius:100% ;
    color:rgb(242, 9, 149);   
    display: block;
    margin: 0 auto; 
} 

#button:hover {
    background-color:darkolivegreen; 
    color:yellow; 
}

#zokam {
    background-color:antiquewhite;
    color:rgba(255, 0, 21, 0.787);
}

